@font-face {
    font-family: Proxima Nova Regular;
    src: url("/assets/fonts/Proxima\ Nova\ Font.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Proxima Soft;
    src: url("/assets/fonts/ProximaSoft-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}