/* ==========================================================================
   Nickil's
   ========================================================================== */

.btnId{
	display: inline-block;
}

.dropDownAbstract{
	font-size: $type-size-6;
	display: none;
	position: relative;
	border-left: 3px solid #6f777d;
	padding-left: 3px;
}

.dropDownBibtex{
	font-size: $type-size-6;
	display:none;
	position:relative;
}
